.quote {
   background: #1e89b3 url(../../src/img/quotebg.jpg) no-repeat top center;
   background-size: cover;
   padding: 75px 0;
   margin-bottom: 150px;

   &__text {
      width: 100%;
      max-width: 680 / 1220 * 100%;
      margin: 0 auto;
      font-size: 42px;
      line-height: 57px;
      text-align: center;
      color: $white;
   }

   @media(max-width: 1024px) {
      &__text {
         font-size: 30px;
      }
   }
   @media(max-width: 768px) {
      &__text {
         font-size: 20px;
         line-height: 27px;
      }
   }

   @media(max-width: 425px) {
      &__text {
         max-width: 80%;
      }
   }
}